/logs
/saved_models
/data
/data_raw
/gitclones
/notebooks
**/__pycache__/**

*.code-workspace

**/.ipynb_checkpoints/
**/checkpoints/

core.*
*.csv
*.xlsx
*.json
*.txt
*.pyc

/.vscode

# /notebooks/
# !/notebooks/*.ipynb

