logs/
saved_models/
data/
data_/
gitclones/
notebooks copy/
**/__pycache__/**

*.code-workspace

**/.ipynb_checkpoints/
**/checkpoints/

core.*
*.csv
*.xlsx
*.json
*.txt
*.pyc

.vscode/

# notebooks/
# !notebooks/*.ipynb

